<div class="img-branch", "name-branch">
  <img src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Opening Hours: {{openingHours}}</div>
  <div>Pickup: {{pickup}}</div>
  <div>Delivery: {{delivery}}</div>
  <a href="/restaurants/{{name}}/edit-form">Edit</a>
</div>
